* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ResetPassword {
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ResetPasswordCon{
    height: 75%;
    width: 40%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    /* height: 30%; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h1{
    font-size: 50px;
}
.inputTextCon{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: self-end;
    justify-content: center;
    flex-direction: column;
}
.input{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.resetPasswordInput{
    height:35%;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding: 2%;
    /* margin-top: 10px; */
    border-radius: 5px;
}
.resetPasswordInput:hover {
    background-color: white;
    border: 3px solid gray;
}
p{
    font-size: 25px;
}
.fogpasButton{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 50%;
    width: 30%;
    background-color: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}