* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ForgetPassword {
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainContainer{
    height: 60%;
    width: 50%;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ForgetpasswordText{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgetPasswordH1{
    font-size: 50px;
}
.inputTextCon{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    flex-direction: column;
}
.input{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.forgetPasswordInput{
    height: 50%;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    padding: 2%;
    margin-top: 10px;
    border-radius: 5px;
}
.forgetPasswordInput:hover {
    background-color: white;
    border: 3px solid gray;
}
.fogpasButton{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.mainButton{
    height: 50%;
    width: 30%;
    background-color: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}
.forgetPasswordP{
    font-size: 25px;
}